// Объявление шрифтов и параметров контейнера

@mixin montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
@mixin montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
@mixin montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
@mixin montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.container {
  margin: 0 auto;
  padding: 0 var(--content-offset);
  max-width: var(--container-width);
}

.header-container {
  margin: 0 auto;
  padding: 0 var(--content-offset);
  max-width: 1326px;
}

.body {
  @include montserrat-400;
  &_hidden {
    overflow: hidden;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

// Общие стили

.link {
  transition: color 0.3s ease;
  &:hover,
  &:active {
    color: var(--azure-color);
  }
}
.link,
.main-title,
.secondary-button {
  @include montserrat-500;
  color: var(--rhapsody-color);
}

.link,
.first-button,
.secondary-button {
  line-height: 20px;
}

.main-title {
  font-size: 44px;
  line-height: 54px;
}

.title {
  @include montserrat-600;
  font-size: 36px;
  line-height: 44px;
  color: var(--rhapsody-color);
}

.first-button,
.secondary-button {
  border-radius: 79px;
}

.first-button {
  @include montserrat-700;
  color: var(--light-color);
  background: var(--button-gradient-color);
  box-shadow: var(--button-box-shadow-color);
  &:hover,
  &:active {
    background: var(--azure-color);
  }
}

.secondary-button {
  border: 1px solid var(--rhapsody-color);
  background-color: transparent;
  &:hover,
  &:active {
    border: 2px solid var(--rhapsody-color);
  }
}
